@model WebApplication.Models.Student
@{
    ViewData["Title"] = "Add Student";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>
<p>Enter the Information at the form box below so you can be added to the database.</p>

@using (Html.BeginForm("AddStudentForm", "Student", FormMethod.Post))
{
    <span>Enter Your StudentID:</span> @Html.TextBoxFor(student => student.StudentId, new {@StudentId = "myStudentId"}) <br />
    <span>Enter Your First Name: </span> @Html.TextBoxFor(student => student.FirstName)<br />
    <span>Enter Your Last Name: </span>@Html.TextBoxFor(student => student.LastName)<br />
    <span>Enter Your GPA: </span>@Html.TextBoxFor(student => student.Gpa)<br />
 
    <input type = "submit" value = "Submit" />
}